<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <a href="#" class="logo__link">
        <img src="assets/images/logo.png" width="40px" alt="" />
      </a>
    </div>

    <nav class="nav">
      <div class="nav__box">
        <ul class="nav__main-menu">
          <li class="nav__item">
            <a routerLink="/" class="nav__item-link">Movies</a>
          </li>
          <li class="nav__item">
            <a routerLink="/favourite" class="nav__item-link">Favourite</a>
          </li>
          <li class="nav__item"><a class="nav__item-link">Log in</a></li>
          <li class="nav__item"><a class="nav__item-link">Sing up</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
