.header {
  &__inner {
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 0px;
  }
}

.nav {
  flex-grow: 2;
  &__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__main-menu {
    display: flex;

    gap: 120px;
  }

  &__item {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgb(199, 205, 210);
  }

  &__link-active {
    color: #2963e1;
  }

  &__account {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__account-link {
    font-size: 1.2rem;
    display: block;
    border: 1.5px solid rgb(199, 205, 210);
    padding: 5px 15px 5px 15px;
    border-radius: 1rem;
    text-transform: uppercase;
    color: rgb(199, 205, 210);
  }

  &__search {
    padding-left: 15px;
    padding-right: 5%;
  }

  &__input {
    font-size: 1.2rem;
    padding-left: 5px;
    width: 300px;
    height: 35px;
    border-radius: 12px 0px 0px 12px;
    background: rgb(47, 50, 57);
    color: rgb(199, 205, 210);
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }

  &__button-search {
    background-color:#2963e1;
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
    border-radius: 0px 12px 12px 0;
    font-family: inherit;
    color: #e6e6e6;
  }

  &__menu {
    flex-grow: 2;
    display: flex;
    align-items: center;
  }

  &__username {
    color: #e6e6e6;
    width: 100%;
  }

  &__main-menu {
    flex-grow: 2;
  }
  &__button-logout {
    text-transform: uppercase;
    color: #e6e6e6;
    padding: 10px;
    background-color: #2963e1;
    border-radius: 12px;
  }

  &__button-logout:hover {
    box-shadow: 0 0 15px #2963e1;
  }

  &__user-menu {
    gap: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__auth {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__user-icon {
    font-size: 3rem;
    color: #e6e6e6;
  }
}

.logo {
  padding-right: 50px;
}
