.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards-box {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 10px;
}

.content {
  display: flex;
  padding-top: 50px;
}

.search {
  padding-top: 65px;
  padding-bottom: 65px;
}
