<div class="modal-window">
  <div class="modal-window__box">
    <div class="modal-window__image-box">
      <img [src]="urlImage" alt="" class="modal-window__image" />
    </div>
    <div class="modal-window__description">
      <div class="modal-window__close-modal">
        <button type="button" class="btn-close"></button>
      </div>
      <div class="modal-window__text-description">
        <p class="modal-window__movie-name">
          {{ movieDetailsObject.title
          }}<fa-icon
            [ngClass]="{ clicked: isHeartClicked }"
            class="modal-window__icon"
            [icon]="faHeart"
            (click)="onIconClick()"
          ></fa-icon>
        </p>
        <p class="modal-window__movie-tagline">
          {{ movieDetailsObject.tagline }}
        </p>
        <p class="modal-window__status" *ngIf="movieDetailsObject.status">
          Status: {{ movieDetailsObject.status }}
        </p>

        <p class="modal-window__movie-facts">
          <span class="modal-window__release"
            >{{ movieDetailsObject.release_date | date }}
          </span>
          <span
            *ngIf="movieDetailsObject.runtime"
            class="modal-window__runtime"
            >{{ movieDetailsObject.runtime | minutesToHours }}</span
          >
        </p>

        <p class="modal-window__genres">
          <span
            class="modal-window__genre"
            *ngFor="let genre of movieDetailsObject.genres"
            >{{ genre.name }}</span
          >
        </p>
        <p class="modal-window__budget" *ngIf="movieDetailsObject.budget">
          Budget:
          {{ movieDetailsObject.budget | currency: "USD":"symbol":"1.0-0" }}
        </p>
        <p class="modal-window__revenue" *ngIf="movieDetailsObject.revenue">
          Revenue:
          {{ movieDetailsObject.revenue | currency: "USD":"symbol":"1.0-0" }}
        </p>

        <p class="modal-window__overview">{{ movieDetailsObject.overview }}</p>
      </div>
      <div class="modal-window__homepage" *ngIf="movieDetailsObject.homepage">
        <a
          class="modal-window__homepage-link"
          [href]="movieDetailsObject.homepage"
          >Visit homepage</a
        >
      </div>
    </div>
  </div>
</div>
