<div class="modal-window">
  <div class="modal-window__box">
    <div class="modal-window__image-box">
      <img [src]="urlImage" alt="" class="modal-window__image" />
    </div>
    <div class="modal-window__description">
      <div class="modal-window__close-modal">
        <button type="button" class="btn-close btn-close-white"></button>
      </div>
      <div class="modal-window__text-description">
        <p class="modal-window__movie-name">{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>
