.favourite-movies {
  border-top: 1px solid rgba(255, 255, 255, 0.217);
  &__inner {
    padding-top: 10%;
  }
}

.cards-box {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 10px;
}
