:host {
  display: flex;
  width: 100%;
  border:2px solid rebeccapurple;
}
.auth-content {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 199, 201);
  // background-image: url(../../assets/images/poster_7.jpg);
  background-size: 105%;
  background-position: center -100px;
}

.auth-box {
  overflow: hidden;
  padding: 10px;
  width: 35%;
  height: 78%;
  background-color: rgba(36, 39, 46, 0.935);
  border-radius: 12px;
}

.auth-links {
  padding-left: 25px;
  padding-top: 15px;
  color: antiquewhite;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  gap: 10%;
}
.auth-form {
  // border:2px solid red;
  width: 100%;
  height: 90%;
}
.active {
  color: blue;
}
