<div class="card-movie" (click)="openModal()">
  <div class="card__inner">
    <div class="card__img-box">
      <img class="card__image" [src]="urlImage" alt="movie image" />
    </div>
    <div class="card__description">
      <p class="card__name">{{ movie.title|shorten }}</p>
      <div class="card__rating-stars" *ngIf="movie.vote_average">
        <ngb-rating [rate]="currentRating" [readonly]="true" [max]="5">
          <ng-template let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>
        </ngb-rating>
        <span class="card__rating-average">{{ movie.vote_average| number: '1.1-1' }}</span>
      </div>
    </div>
  </div>
</div>
